<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Booking Completed</h2>
        <p>You can check all your Bookings in the Bookings Section of Your Profile</p>
        <hr/>
        <p>Thank you</p>
    </div>

</div>